@charset "utf-8";
html{
    scroll-behavior: smooth;

}

body {
    background-color: #f9f2f4;
}

h1{
    color: #0d3625;
    font-family: HG創英角ﾎﾟｯﾌﾟ体;
    font-size: 40px;

    background: #c2edff;/*背景色*/
    padding: 0.5em;/*文字まわり（上下左右）の余白*/
    border-bottom: solid 3px #516ab6;/*下線*/
    border-left: solid 5px #7db4e6;/*左線*/
}

#new{
    font-size: 20px;
    padding : 20px ;
    margin-bottom: 20px;

}

.btn-square {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.btn-square:active {
    /*ボタンを押したとき*/
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    border-bottom: none;/*線を消す*/
}

table{
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}


td {

    border: solid 1px;
    padding: 0.5em;
}
table td {
    text-align: center;
}

a:link { color: #0000ff; }
a:visited { color: #000080; }
a:hover { color: #ff0000; }
a:active { color: #ff8000; }

.btn {
    display:  inline-block;
    color: #fff;
    text-decoration:  none;
    background-color: #2196F3;
    border-radius: 5px;
    position:  relative;
    height: 50px;
    width: 50px;
    cursor:pointer;
}

.btn::before {
    content:  '';
    width: 20px;
    height: 20px;
    display:  block;
    border-top: solid 2px;
    border-right: solid 2px;
    transform: rotate(-45deg);
    position:  absolute;
    top: 10px;
    bottom:  0;
    left:  0;
    right:  0;
    margin:  auto;
}

/* パソコン・スマホ共通のCSS */
#PageTopBtn {
    position: fixed; /*ボタンの配置場所を固定*/
    bottom: -10px; /*下からのボタンの配置場所を指定*/
    right: 10px; /*右からのボタンの配置場所を指定*/
}
#PageTopBtn a {
    display: block; /*配置の調整*/
    text-decoration: none; /*文字の下線を消す*/
    color: #fff; /*文字の色*/
    background: #00bfff; /*ボタンの背景色*/
    text-align: center; /*文字を中央に配置*/
    border-radius: 5%; /*ボタンの角を少し丸くする*/
    outline: none; /*クリックしたときの黒い枠を消す*/
}
#PageTopBtn a:hover {
    text-decoration: none;
    background: #87cefa; /*マウスオーバー時の背景色*/
}

/* パソコンで表示する場合のCSS */
@media (min-width: 768px) {
    #PageTopBtn {
        font-size: 13px; /*文字のサイズ*/
    }
    #PageTopBtn a {
        width: 100px; /*ボタンの幅*/
        height: 70px; /*ボタンの高さ*/
        padding: 24px 0; /*文字の配置場所の調整*/
    }
}